@import "@/styles/variables.scss";

.offerSection{
    position: relative;
    .offerTop{
        max-width: 100%;
        position: absolute;
        bottom: 0;
        background-color: transparent;
    }
    .offers{
        background-color: $deep-blue;
        .headingDiv{
            width: 100%;
            display: flex;
            justify-content: center;
            .heading{
                font-size: 74px;
                font-weight: 500;
                margin: 0;
                position: relative;
                background: $standard-gradient;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

@media (max-width: 1024px){
    .offerTop{
        display: none;
    }
}
