@import "@/styles/variables.scss";


.offerSection{
    padding-bottom: 100px;
    position: relative;
    background-color: $deep-blue;
    .offerTop,.offerBottom{
        // display: block;
        overflow: auto;
        // svg{
        //     width: 100vw;
        // }
        position: absolute;
        // bottom: 100%;
        background-color: transparent;
    }
    .offerTop{
        bottom: calc(100% - 1px);
    }
    .offerBottom{
        top: 100%;
    }
    .offers{
        
        padding-top: 48px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
            .heading{
                text-align: center;
                font-size: 68px;
                font-weight: 500;
                margin: 0;
                position: relative;
                background: $standard-gradient;
                background-clip: text;
                -webkit-text-fill-color: transparent;
        }
        .offerMenu{
            width: fit-content;
            margin: 24px;
            margin-top: 96px;
            // display: grid;
            // gap: 100px;
            // grid-template-columns: repeat(auto-fit, minmax( 350px, 1fr));
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10vw;
        }
    }
}

// @media (max-width: 1024px){
//     .offerSection{

//         .offerTop{
//             display: none;
//         }
//         .offerBottom{
//             display: none;
//         }
//         .offers{
//             .headingDiv{
//                 .heading{
//                     font-size: 48px;
//                 }
//             }
//         }
//     }
//     .offerItem{
//         min-width: none;
//     }
// }


