@import "@/styles/variables.scss";

*{
    ::-webkit-scrollbar{
        display: none;
    }
    // box-sizing: border-box;
    letter-spacing: 4%;
}
body{
    
    margin: 0;
    background-color: #01000E;
}